<a href="https://colab.research.google.com/github/JoaoLucasAbreu/Panda_series/blob/main/pd_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Pandas Library

In [6]:
import pandas as pd


s1 = pd.Series(["Let´s", "Data", 4, "tw"], index=[1, 5 , 1110, 80])

s1

#index do not refer to the actual element position

1       Let´s
5        Data
1110        4
80         tw
dtype: object

Same Index for 2 or more elements

In [11]:
s2 = pd.Series(["Let´s", "Data", 4, "tw"], index=[0, 0, 1, 1222])

s2[0]

0    Let´s
0     Data
dtype: object

Type description

In [14]:
s1 = pd.Series(["Hello", "Data", "Scientist"])
s2 = pd.Series([1, 2, 3])
s3 = pd.Series([0.1, 0.2, 0.3])

print(s1.dtype)
print(s2.dtype)
print(s3.dtype)

object
int64
float64

Type conversion

In [19]:
s2 = pd.Series([1, 2, 3])
print(s2.dtype)

#method astype for correct and possible type conversions
s2 = s2.astype(float)
print(s2.dtype)

int64
float64

Optional naming series

In [17]:
s1 = pd.Series(["Hello", "Data", "Scientist"], name = "Title")

s1

0        Hello
1         Data
2    Scientist
Name: Title, dtype: object